#!/bin/bash
#
# This script was created by puppet for installing
# voms-admin for the VO <%= @vo %>.

/usr/sbin/voms-configure install \
      --hostname <%= @hostname %> \
      --vo <%= @guid  %> \
      --skip-database \
      --skip-voms-core \
      --core-port <%= @port %> \
      --dbtype  mysql \
      --dbusername  <%= @sqlusername %> \
      --dbpassword  `cat <%= @passfile  %>` \
      --dbname      <%= @sqldbname %> \
      --dbhost      <%= @sqlhost %> \
      --dbport      <%= @sqlport %> \
      --mail-from   <%= @mailfrom %> \
      --smtp-host   <%= @mailsmtp %> \
      --csrf-log-only \
      --skip-ca-check \
      --admin-skip-ca-check \
<% if @read_access_for_authenticated_clients -%>
      --read-access-for-authenticated-clients \
<% end -%>
<% if @disable_registration  -%>
      --disable-registration \
<% end -%>
<% if @disable_notification -%>
      --disable-notification \
<% end -%>
<% if @membership_expiration_warning_period != '30' -%>
      --membership-expiration-warning-period <%= @membership_expiration_warning_period %> \
<% end -%>
<% if @membership_notification_resend_period != '1' -%>
      --membership-notification-resend-period <%= @membership_notification_resend_period %> \
<% end -%>
<% if @membership_disable_expiration_warning == 'true' -%>
      --disable-membership-expiration-warnings \
<% end -%>
<% if !@require_group_manager_selection-%>
      --disable-mandatory-group-manager-selection \
<% end -%>
<% if @vo_aup_url  -%>
      --vo-aup-url @vo_aup_url \
<% end -%>
<% if @aa_cert -%>
      --aa-cert @aa_cert \
<% end -%>
<% if @aa_key -%>
      --aa-key @aa_key \
<% end -%>
<% if @aa_key -%>
      --saml-max-assertion-lifetime  @saml_max_assertion_lifetime \
<% end -%>
